.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto auto 80px 50px 100px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m j j j j j j"
        "s s s s s s b b b b b b"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f"
        "r r r r r r r r r r r r";
}

.header {
    grid-area: h;
    background-color: #691c1c;

}

.schoen {
    grid-area: m;
    background-color: #6b9681;
}

.jas {
    grid-area: j;
    background-color: #6b9681;
}

.shirt {
    grid-area: s;
    background-color: #6b9681;
}

.broek {
    grid-area: b;
    background-color: #6b9681;
}

.footer {
    grid-area: f;
    background-color: #691c1c;
}

.contact{
    grid-area: c;
    background-color: #6b9681;
}

.credits{
    grid-area: r;
    background-color: #6b9681;
}